 /*<---- filename --->*/
@import url("vendor/bootstrap.css");
@import url("vendor/font-awesome.css");
@import url("vendor/datepicker.css");
@import url("vendor/jquery.dataTables.min.css");
@import url("vendor/jquery-ui.css");
@import url("vendor/datatables.css");



/*---------------------- RESET CSS ----------------------------*/
/*---------- Include External fonts --------------*/

@font-face{
	src:url("vendor/fonts/Roboto-Light.ttf")  format("truetype");
	font-family:"Roboto-Light";
}
/*------------- Reset Bootstrap --------------*/
html,body{
	width:100%;
	height:100%;
	font-size: 13px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#eee;
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,p,ul,li,ol{
	margin:0;
	padding:0;
}
.list-inline li{
	vertical-align:top;
}
.row{
	margin:0;
	padding:0;
}
a,a:focus,a:hover{
	color:inherit;
	text-decoration:none;
}
ol, ul {
    margin-bottom:0px !important;
    margin-top: 0;
}
h3, .h3 {
	font-size:o;
}
.col{
	padding:0;
	margin:0;
}
ul,ol,li{
	list-style-type:none;
	
}
/*-------------------- Background Colors ------------------------*/

.bg-b{
	background:#1687C9;
	color:#fff !important;
}
.bg-b-w{
	background-color: #f5f5f5;
	border:1px solid #dddddd;
}
.green{
	color:#00CC00;
}
.red{
	color:#FE0034;
}
/*.bg-w{
	background:#fff;
}*/
/*---------------------- Colors --------------------------*/

.c-org{
	color:#FEB415;	
}
.d-org{
	color:#2A4F95;	
}
.e-org{
	color:#02C4F7;
}
.f-org{
	color:#479BD7;
}
.g-org{
	color:#1FAC89;
}
.h-org{
	color:#DA5033;
}
.pad_bottom10 {
    padding-bottom: 10px;
}
/*----common class for button_style------*/
.mandatory_star1:after{
	content:'*';
	color:red;
	font-size: 16px;
	padding-left:3px;
}
.padTop_Btm{padding:0.5em 0 !important;}
.fileUpload {position:relative;}
.display_none{display:none;}
.noMar-top{margin:0 !important; width:360px; height:150px;}
.bg_w_button {/*------common button class for the background white button------*/
    background: #fff none repeat scroll 0 0;
    border: 1px solid #1687c9;
    border-radius: 5px;
    color: #256aad !important;
    font-size: 12px !important;
    font-weight: bold;
    padding: 7px 10px;
}
.bg_g_button{
	font-size:14px;
	background-color:#005aab;
	color:#ffffff;
	border:none;
	border-radius:5px;
	padding:6px 10px;
}
/*----common class for mandatory star mark------*/
.mandatory_star{
	color:red;
	color: red;
    font-size: 18px;
    padding-left: 3px;
}

/*-----dropdown------*/
	.dd{			                   
		position:relative;			
	}	
	.dd .dd_label{
		padding:2px 10px;
		cursor:pointer;
		border: 1px solid #cccccc;
		border-radius: 4px;
		background:#ffffff;
	}
	.dd .dd_label span{
		line-height:2.2;
		color: #aaaaaa;
	}
	.dd .dd_label i{
		float:right;
		font-size:14px;
		padding:8px 0;
		color:#999;
	}
	.dd .dd_list{
		position:absolute;	
		width:100%;
		z-index:3;
		border: 1px solid #ddd;		
	}
	.dd .dd_list li{
		padding:7px;
		border-bottom: 1px solid #ddd;
		width:100%;
		cursor:pointer;		  
		list-style: outside none none;
	}
	.dd_list{
		background-color:white;
	}                              
	
/*-----dropdown------*/

 .pull-right .btn-grey{
	background-color:grey;
	border: medium none;
	padding: 9px 28px;
	color:white;
	outline: medium none;
}
 .pull-right .btn-suc{
	background-color:#28A9E0;
	border: medium none;
	padding: 9px 28px;
	color:white;
	outline: medium none;
}
label{   /*--label---*/
	font-size: 13px;
	 color: #252525;
	font-weight:bold;
}
.placeholder{
  color: #515151  !important;
}

#breadcrumb{
font-size: 12px;
Padding:20px 0 25px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

#breadcrumb > ul li{
	display: inline-block;
}
#breadcrumb > ul li+li:before{
	content:"\f105";
	padding:0 0.5em;
	color:#ccc;
	font-family: 'FontAwesome';
}
#breadcrumb > ul li:last-child{
	font-weight:bold;
}


/*-----modal window----*/
#myModalB{
	margin:-101px;
}

.modal-header{
	background: #28a9e0 none repeat scroll 0 0;
    color: #FFFFFF;
	padding:10px;
}
.modal-header .close{
	color: #FFFFFF;
	opacity:1;
}
.modal-dialog{
	width:600px;
	margin: 130px auto;
}
/* #myModal3 .modal-dialog{ width:700px !important;} */
.modal-header > button{
	font-size: 30px;
}
.modal-footer {
    border-top: none;
	text-align: center;
   
}
.modal-content{
	border-radius: inherit;
}
#myModalB{
	padding-top:150px;
}
.modal-body{
	text-align: center;
}
.modal-body2 .row{
	padding:0;
/*--	border:1px solid grey;--*/
}
.modal-body2 .row .col-md-6{
	padding-left:0;
	padding-right:0;
}
.modal-body1 .row{
	padding:0;
}

.modal-body .fa-info-circle{
	color:grey;
}
.modal-body2 .user_details{
	margin-bottom:10px;
}
.modal-body2 .user_details > label{
	 color: #7a7a7a;
    font-size: 11px;
    margin-bottom: 0;
	padding-left: 13px;
}
.modal-body1 .user_details > label, .modal-body1 .pad_top label{
	 color: #616161;
    font-size: 11px;
}
.modal-body2 .user_details  > p{
	font-size: 14px;
	padding-left: 13px
}
/*modal for edit-------*/
.modal-body1{
	padding:10px;
	height: auto;
}
p.bannerNameClass{word-break:break-all;}


.modal-open{
	padding-right:0;
}

/*linkedCategoryPop */ 
.linkedCategoryPop{
	overflow:scroll;
	overflow-x:hidden;
}
.linkedCategoryPop .jstree-container-ul{
	height:250px;
}
/*-------JSON Tree--------*/
.jstree-i2con{
	background-image: none !important;
}
#myModala .modal-dialog .modal-content .modal-footer .bgp , #deleteFileModal .modal-dialog .modal-content .modal-footer .bgp{
	background-color: #005aab;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;	
}

.half-col .padding-8{
	color:black;
	font-size: 13px;
}
.half-col .list-inline{
	margin-left:-21px;
}
.half-col .list-inline li  label{
	font-weight:normal;
}
.user_details .status{
	padding-top:0;
}
/*-----radio button style-----*/
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:23px;
	height:19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
	margin:5px 0 0 14px;
}
.checkbox div input[type=checkbox]{
	display:none !important;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}
label.css-label {
	background-image:url('../img/radio_button.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*--checkbox starts here-----------------------------*/
.Campaign-Custom .Sharing .row .col-md-6 .checkbox  ul li input[type=checkbox] {/*--style for campaign custom--*/
    display: none;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-4 .checkbox ul li input[type=checkbox]{/*--style for role management--*/
	display:none;
}
input[type=checkbox]:checked + label:before {
	color: #0673b8;
    content: "\2713";
	line-height: 15px;
    text-align: center;
}
.checkbox label:before {
	background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
	content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 16px;
}
.checkbox label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    padding: 10px 0 10px 25px;
    position: relative;
}

.checkbox ul li{
	padding-bottom:6px;
}

/*--------- Bootstrap reset ---------------*/

/*.list-inline > li {
    padding:0;
}*/


/*------------- index page starts here --------------*/
.login_wrap{
	margin: 0 auto;
	background: #1687c9 none repeat scroll 0 0;
	height:100vh;
	width:100%;
	position:relative;
}
section .row .btn_submit{
	margin-top: 22px;
}
section .row .btn_submit .btn-suc{
	background: #1687c9 none repeat scroll 0 0;
    color: #ffffff;
}
section .dashboard .col-md-3 #datetimepicker4{
	 background-image: url("../img/cal_icon.png");
    background-position: 214px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
}
section .dashboard .col-md-3 #datetimepicker45{
	 background-image: url("../img/cal_icon.png");
    background-position: 214px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.login {
	background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px;
    width: 520px;
	margin:0 auto;
}

.login-holder{
	 width:100%;
	 height:auto;
	 padding:5% 0;
	}
	
	
.login p:last-child{
	margin:5px 0;
}
.login p:last-child span{
	display:inline-block;
	width:49%;
}

.wraper .login .form-signin .row{
	margin-top:10px;
}
.login .form-signin > label{
	font-weight: lighter;
	padding-top:14px;
}
.login .form-signin .text-left{
	color: #2d8dae;
	font-size:14px;
}
.login .form-signin > h2{
	border-top: 1px solid #E3E3E3;
    color: #045ba7;
    padding-top: 17px;
	font-size:18px;
    font-weight:bold;
	font-family:Roboto-light;  
}
.login .logo{
	padding:10px; 
	width:192px;
	margin:auto;
	
}
.login .close_btn{
	color: #1687c9;
    display: block;
    float: right;
    font-size: 20px;
    position: relative;
}
.login .form-signin .form-control{
	height: 43px;
	background-color:#F0F0F0;
}
.form-signin .control-label{
	color: #212121;
    font-weight: lighter;
}
 .login .form-signin .forgot_password{
	outline:none;
}
.wraper .login .form-signin .forget_password{
	margin-top: 14px;
}
/*------------- index page ends here --------------*/
/*------------- forgot password starts here --------------*/

.login .form-signin .text-right .btn{
	margin-top:20px;
	color:white;
	padding: 7px 21px;
	outline:none;
}
.login .form-signin  .admin{
	margin-top:10px;
}
/*------------- forgot password ends here --------------*/


/*------------- dashboard page starts here --------------*/

header .logo{
	display:block;
	width:192px;
	height:35px;
	background:url('../img/jetprivilege_logo.png');
	background-size:100%;
}
header .row .text-right .list-inline > li a{  /*--style for common logout image--*/
	font-size: 12px;
	 margin-top: 8px;
}
header .row .text-right .list-inline > li  a > img{
	padding-right: 5px;
} 
header .row:first-child{
	padding:10px 0;
	background:#fff;
}
header .row:first-child .col-lg-6 ul li:first-child{
	border-right:1px solid #ddd;
	padding-right:10px;
	text-align:left;
	color:#3F3F3F;	
	
}
header  .menu-wrap .menu .clearfix > li{
	
}
header .row:first-child .col-lg-6 ul li:first-child > p{
	padding-right: 32px;
}
header .row:first-child .col-lg-6 ul li:first-child > .time{
	color: #959595;
	font-size: 0.9em;
	padding-right: 8px;
}



/*header .bg-b{
	padding:10px 0;
}*/

header .bg-b li{
	cursor:pointer;
}

header .bg-b li  i{
	padding:0 4px;
}

.dashboard_wraper{
	display:none;
}
footer {/*-----fixing footer in the bottom--------*/
		position:absolute;
		bottom:0;
		width:100%;			/* Height of the footer */
		background:#1687C9;
	}
	.container {/*-----fixing footer in the bottom--------*/
		min-height:100%;
		position:relative;
		background:#fff;
		padding:0;
	}
footer > p{
	padding:10px;
	color:#fff;
}

.menu-wrap{
	padding: 2px 2px;
}
.menu-wrap ul li::after,
.menu-wrap ul li a::after{
	margin:0;
}

.menu-wrap li.active .sub-menu li.active a,
.sub-menu li a:hover, 
.sub-menu .current-item a {
	background-color:#045BA7;
	
}
li.active a  {
	background-color:#0673B8;
}
#nav {
	position:relative;
	width:100%;
}

ul#navigation {
	margin:0px auto;
	position:relative;
	float:left;
}

ul#navigation li {
	font-size:12px;
	margin:-2px;
	padding:0;
	position:relative;
}

ul#navigation li a {
	padding:10px 20px;
	text-decoration:none;
	display:inline-block;
	
	/*-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	*/
}

ul#navigation li a:hover {
	color:white;
}

ul#navigation li:hover > a {
	background:#045BA7;

}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
	visibility:visible;
	opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
	visibility:hidden;
    position: absolute;
    z-index: 99999;
	width:100%;
	background:#1687C9;
	opacity:0;
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#navigation ul {
    top: 37px;
	width: 190px;
}


ul#navigation ul li ul {
    top: 0;
    left: 181px;
}


ul#navigation ul li a {
	padding:13px 20px;
	color:white;
	text-decoration:none;
	display:inline-block;
	border:none;
	width: 190px;
	margin-left:2px;
}

ul#navigation li a.first {
	border-left: 0 none;
}

ul#navigation li a.last {
	border-right: 0 none;
}

/*----font awsome icon----*/
#navigation li a{
	position:relative;
}
#navigation li a:after{
	content:"\f107";
	font-family: 'FontAwesome';
	position:absolute;
	right: 5px;
}
#navigation li:first-child a:after, #navigation li:last-child a:after, #navigation li:nth-child(6 ) a:after{
	content:"";
}
#navigation li ul li a:after{
	content:"";
}








section{
	color: #484848;
    font-weight: normal !important;
    padding: 0 15px 5px;
	height:100%;
}
section .section_title{
	font-size:14px;
	padding:10px;
	background-color: #f5f5f5;
}
/*---------heading section--------*/
.section_heading > span{
	font-size:18px;
	color: #2c2c2c;
	font-weight: 600;
	font-family:Roboto-light;
}
.section_heading > a{
	float:right;
}
.section_heading > a:hover{
	text-decoration:none;
	color:#256aad;
}
h5{
	font-size:18px;
	color: #2c2c2c;
	font-weight: 600;
	font-family:Roboto-light;
}

.section_heading input{
	float:right;
}

.insurance_policy_table{
	padding:15px 0;
}
.insurance_policy_table table thead{
	border-top:1px solid #BABABA;
}
.insurance_policy_table table thead tr th{
	text-align:center;
	padding:
}
.btnDelete:before{
	border-left:1px solid black;
}
.insurance_policy_table table tbody tr td{
	text-align:center;
	padding:15px 0;
}
.insurance_policy_table table tbody tr td a img.edit_wraper{
	border-right:1px solid #E7E7E7;
	padding-right: 5px;
}
.action_border table tbody tr td a img.edit_wraper{
	border-right:none;
}
section .row .col-md-3 .img-wrap > img{
	vertical-align:left;
}
section .pad_top{
	padding-top:25px;
}
.main_section{
	margin:10px 0 25px 0;
	padding-bottom:25px;
	
}
.btn_save{
	margin:4% 0;
}

.policy_term > div:first-child{
	padding:0;
}
.policy_term > div:last-child{
	padding-right:0;
}
.affliates_management{
	padding-bottom:49px;
}
/*-----partner info table starts here----*/
.partner_info_table thead tr th{
	padding:10px 0;
	background:#E7E7E7;
	text-align:center;
}


.tbody_width table thead tr th:last-child{
	width:107px;
}

/*.tbody_width tbody tr td:nth-child(6),table tbody tr td:nth-child(3),table tbody tr td:nth-child(5) {
    width: 230px;
    word-wrap: break-word;
	word-break: break-all;
}*/
.td_width{/*---- common class for td maximum 100 charecter------*/
	width: 180px;
    word-wrap: break-word;
	word-break: break-all;
}
.slno_width{
/* 	width:47px; */
}
.action_image{
	width:107px;
}


.partner_info_table tbody tr td{
	padding:10px 10px;
	text-align:center;
	word-break: break-all;
}
.partner_info_table tbody tr td:last-child  span, .partner_info_table tbody tr td:last-child  a{
	border-right:1px solid #d7d7d7;
	padding: 0 8px;
}
.partner_info_table tbody tr td:last-child  span:last-child, .partner_info_table tbody tr td:last-child  a:last-child{
	border-right:0;
}
.partner_info_table{
	margin:3% auto !important;
}
.affiliate_management .urlParam .headLabel{font-size: 15px; font-weight: normal; margin-left: 15px;}
.affiliate_management .urlParam input[type="text"]{width:49% !important; display: inline-block !important;}
.affiliate_management .urlParam label{display: block !important;}
.modal-body1 .urlParam .headLabel{font-size: 15px; font-weight: normal; margin-left: 15px;}
.modal-body1 .urlParam input[type="text"]{width:100% !important; display: inline-block !important; margin-bottom:0.5em;}
.modal-body1 .urlParam label{display: block !important;}
#sectionA  .navbar {
    border-radius: 0 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-radius:0;
	background:#F8F8F8;
	border-top:2px solid #1687C9;
	outline:0 !important;
}
.navbar-default {
    border-top: none;
}
#uploadBtn{
	margin-top: 24px;
    width: 23% !important;
}
#uploadFile{/*---- upload button stule----*/
	border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 6px 7px 6px 7px;
	background:#fff;
	width:70%;
}
#uploadFile1{/*---- upload button stule----*/
	border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 6px 0 6px 7px;
	background:#fff;
	width:89px;
	
}
.upload_file_style{/*---- upload button stule----*/
	border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 6px 0 6px 7px;
	background:#fff;
	width:110%;
	
}
#myModal1 .upload_file_style {width:72% !important;}
#uploadBtn1{
	margin-top: 30px;
}
.upload_btn_modal{
	 
}
.browse_btn{
	padding-bottom:0 !important;
}
#sectionB{
	border: 1px solid #e8e8e8;
	border-top:none;
	background:#F8F8F8;
}
.btn {
	padding:0;
}
.upload {
	margin-top:2%;
	width: 40%;
}
.addEmail_upload{
	margin-top: 2.5%;
}
.fileUpload span{
	vertical-align:top;
}
.fileUpload .bg_w_button{
	/*position: absolute;*/
    top: 51%;
}

/* TODO:Commented to display Checkbox in category amangement */
/* #sectionB div:nth-child(4) input[type="checkbox"]{
	display:none;
} */

#sectionB div:nth-child(4) .checkbox div{
	display:inline-block;
}
#sectionB .checkbox, .modal-body1 .checkbox{
	margin-top:0;
}
.image_wrap label{
	display:block;
}
.image_wrap_modal img{
	margin-left:10px;
	margin-top:10px;
	width:40%;
}
#myModal1 .modal-dialog {
    margin: 130px auto;
    width: 700px;
}

#myModal_Logo_ .modal-dialog {
    margin: 130px auto;
    width: 700px;
}

#Partner_category .modal-dialog {
    margin: 130px auto;
    width: 600px;
}
#myModal1 .modal-dialog  .modal-body1  #uploadFile {
    padding: 6px 0 6px 7px;
    width: 89px;
}
.modal-body1 div{
	padding-bottom:10px;
}
.modal-body1 div:nth-child(4)  div.checkbox{
	display:inline-flex;
	margin-top:20px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
}
.modal-body1 div:nth-child(4)  div.checkbox div input[type="checkbox"]{
	display:none;
}
.modal-body1 .btn_save{
	text-align:right;
}
.nav-tabs > li > a {
    margin-right: 0;
	outline: 0 none;
}

/*-----category management--------*/
.pad_bottom{
	padding-bottom:25px;
}
.navbar-default{
	margin-bottom:5%;
}

#sectionC table thead tr th:last-child{
	width:10%;
}
.management{
	margin-top:3%;
}
.margTop3{
	margin-top:3%;
}


.ui-selectmenu-button {
	width:100% !important;
}
#country{
	height: 34px;
}
#country select > option.red{
	height: 34px;
}
/*----banner management----*/
.table_heading{
	padding: 12px 0 0 12px;
}
#submenu .btn_save input{
	margin-right:10px;
}
#submenu .btn_save{
	margin:1% 0;
}
.Static_table{
	margin-top:6%;
	
}
.mar_left{
	margin-left:-9px;
}
.mar_top{
	margin-top:10px;
}
.mar_bottom{
	margin-bottom:10px;
}
.align_right{
	margin-right: 10px;
    text-align: right;
}
.fileUpload input.upload_btn_modal{
	margin-top: 37px;
    width: 44%;
}

.recomond_product div:last-child{
	margin-top:10px;
}
/*----- commission--------*/
.commission tbody tr td:last-child span:last-child img{
	width:15px;
}
#myModalab .modal-dialog {
    margin: 130px auto;
    width: 600px;
}
#myModalab .modal-dialog .modal-content .modal-body1 .row .col-md-4 .pick_date input {
    width: 78.4%;
}
#myModal1 .modal-dialog .modal-content .modal-body1 .row .user_role fieldset .ui-selectmenu-button .ui-selectmenu-text{
	 background-position: 231px 14px;
}

/*----- recomond category--------*/
#myModal1 .modal-dialog .modal-content .modal-body1 .row .col-md-4 .pick_date input{
	width: 78.4%;
}
/*----- user management-----*/
.super_admin span:first-child{
	margin-left:-41px;;
}
#sectionC {
    border-top: none;
    background: #F8F8F8;
}
#sectionD {
    border: 1px solid #e8e8e8;
    border-top: none;
    background: #F8F8F8;
	margin-bottom:5%;
}

.user_permission div ul li input[type="checkbox"]{
	display:none;
}
.role_management_table{
	padding-top:10px;
}
.role_management_table table tbody tr:first-child td span{
	 margin-left: -75px;
}

/*---Transaction section starts here----*/

.search_button input{
	margin-top:8.4%;
}
.transaction_table{
	display:none;
}
#transaction_id table{margin-bottom:5%;}
/*----offers and deals----*/
.offers_deal  .mar_top{
	margin-top:23px;
}
.offers_deal div .mar_top input{
	background:#fff;
}
/*-----management section starts here-----*/
.edit_role_table .table tbody tr td input[type="checkbox"]{
	display:none;
}
.edit_role_table .table tbody tr td label{
	font-weight:normal;
}
.insurance_policy_table .table thead tr th{
	background:#F5F5F5;
}
.role_management table tbody tr td a img.edit_wraper {
    border-right: 0;
}
.edit_role_table .table thead tr th{
	background:#F5F5F5;
}
.user_management table tbody tr.admin td:last-child span:first-child {
    margin-left: -41px;
}
.user_management table tbody tr td:last-child span {
    border-right: 1px solid #e7e7e7;
    padding: 0 10px;
}
.user_management table tbody tr td:last-child span:last-child {
    border-right:0;
}
.user_management table thead tr th:last-child {
    width: 125px;
}
/*----- Business reports-------*/
#business_report_wrapper{
	margin-bottom:5%;
}
.col-md-3 .pick_date input {
    width: 83.4%;
}
 .col-md-3 .ui-selectmenu-button span.ui-selectmenu-text{
    background-position: 236px 14px;
}
.export_btn .report_button{
	float: right;
	margin-right: -40px;
}

/* Added position of the button */

.comm_report_button input{
	float: right;
	margin-top: 2.5em;
}
#business_report_filter label{
	display:none;
}
#business_report_length{
    margin-right: 2%;
	margin-top: 3px;
}
#business_report_length label{
	display:inline-flex;
}
#business_report_length label select{
	padding: 8px;
    width: 63%;
	margin-top: -7px;
	margin-left: 10px;
}
.expot_btn{
	position: absolute;
    right: 2.9%;
}
#business_report td {
    border-right: 1px solid #e1e8ee;
}
/*-----finance reports-------*/
.finance_report_table #business_report{
	width:100% !important;
}
.dataTables_scrollHeadInner{
	padding-right: 17px !important;
}
/*.finance_report_table .dataTables_wrapper .dataTables_scroll .dataTables_scrollHead .dataTables_scrollHeadInner .display  thead tr th{
	 width: 243px !important;
}*/



/*------data table------*/
table.dataTable thead .sorting_asc,table.dataTable thead .sorting  {
/*     border-right: 1px solid #c5ccd2 !important; */
	
}
table.dataTable thead .sorting_desc {
    border-right: 1px solid #c5ccd2;
}
table.dataTable thead .sorting:last-child{
	border-right:none;
}
.dataTables_scrollBody{
	max-height: 252px !important;
}
#data_table_wrap_wrapper{
	margin-top:20px;
}

.dataTables_scrollHeadInner{
	border:1px solid #D3D3D3;
	border-bottom:none;
	background:#E3E3E3;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: white;
    padding: 16px;
	
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fafafa;
	padding: 16px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: 1px solid #E7E7E7 !important;
}
.dataTables_wrapper{padding-top:1em;}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none !important;
}

button.dt-button, div.dt-button, a.dt-button{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #1687c9;
    border-radius: 5px;
    color: #256aad;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
}
div.dt-buttons {
    position: relative;
    float: right;
}

/*--------common datepicker for all pages-------

#datetimepicker4{
	background-image:url('../img/2016-06-23.png'); 
	background-repeat: no-repeat; 
	background-position: 309px 5px;
	cursor: pointer;
}
#datetimepicker45{
	background-image:url('../img/2016-06-23.png'); 
	background-repeat: no-repeat; 
	background-position: 309px 5px;
	cursor: pointer;
}*/
.ui-datepicker-trigger{
	cursor:pointer;
}
/* .pick_date input{
	display: inline-block;
    margin-right: 0.5px;
    width: 89.4%;
} */
#categoryBeanId .pick_date input, #categoryBean .pick_date input{
	display: inline-block;
    margin-right: 3.5px;
    width: 86.5%;
}

.pick_date input{
	display: inline-block;
    margin-right: 3.5px;
    width: 80.5%;
}

/*table.dataTable thead .sorting {
    background-image: none !important;
}*/




#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul li input[type=checkbox]{/*--style for create role--*/
	display:none;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .permission{
	padding:0;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .permission > p{
	padding-left: 12px;
	font-size: 16px;
}

#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-6 .text{
	padding:18px;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul{
	width:25%;
	border-top:1px solid #c0c0bf;
	border-bottom:1px solid #c0c0bf;
	border-right:1px solid #c0c0bf;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul li label{
	font-weight:bold;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul > li {
	padding: 5px 13px;
}
#myModal123{
	padding-right:9%;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul > li:last-child{
	padding-bottom: 16px;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul > li:first-child{
	border-bottom:1px solid #c0c0bf;
	padding: 5px 13px;
	background-color:#E7E7E7;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .table ul:last-child{
	border-right:none;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-3{
	border-top:1px solid black;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .permission .table{
	/*border-bottom:1px solid black;*/
	display:inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 11px;
    width: 97%;
	border-right:1px solid #C0C0BF;
	border-left:1px solid #C0C0BF;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .button_style .btn-suc{
	 margin-right: 10px;
}
#sectionC .row .col-md-3{
	border-top:1px solid black;
}
#uploadCSVForm .col-md-3{
	border:none !important;
}
#sectionC .button_style{
	margin-right:10px;
}
#sectionC .permission .table{
	/*border-bottom:1px solid black;*/
	display:inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width:98%;
	margin-left:13px;
	border-right:1px solid #C0C0BF;
	border-left:1px solid #C0C0BF;
}
   /*---role management starts here---*/

#sectionD .table_body{
	width:98%;
	margin-left:10px;
	
	
}
#sectionD .table_body .table tbody > tr > td  > i.fa-pencil-square{
	color:#898989;
}
#sectionD .table_body .table tbody > tr > td{
	background-color:#FFFFFF;
	 padding: 15px 10px;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row > p{/*---modal window----*/
	  padding: 12px 11px;
	  font-weight: bold;
	  font-size: 14px;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-4{
	padding:0;
}
#myModal123 .modal-dialog .modal-content{
	width: 732px;
	right:20%;
	height: 421px;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-4 ul li{
	padding:3px 0;
}
#myModal123 .modal-dialog .modal-content .modal-body2 .row .col-md-4 .pull-right{
	margin-top: 28px;
}
#myModal123 .modal-dialog .modal-content .modal-header{
	background-position: 580px 18px;
}
.fa-pencil-square{
	cursor:pointer;
	color: #898989;
}
ul.list-inline .fa-trash{
	border-left: 2px solid #898989;
    padding-left: 12px;
}
ul.list-inline .fa-pencil-square{
	border-left: 2px solid #898989;
    padding-left: 12px;
	
}
.table_body .table thead {
	border-top:1px solid #BABABA;
}

#sectionD .table_body .table tbody > tr > td > span:nth-child(2){
	vertical-align:middle;
}

#sectionD .table_body .table tbody > tr > td > span.delete::after{
	content: '';
	height: 5%;
	border: 1px solid #898989;
}
#sectionD .table_body .table tbody > tr > td > span.delete img {
	cursor:pointer;
}
#sectionD .table_body .table tbody > tr > td > span.delete .fa-trash {
	vertical-align: text-top;
	padding-left: 15px;
}
#sectionD .table_body .table tbody > tr > td > span > img{
	padding: 0 10px;
}
.fa-stack{
	color:#898989;
	font-size:10px;
	margin-left: 7px;
}
.fa-info{
	color:#898989;
}
.fa-trash{
	cursor: pointer;
	color: #898989;
	vertical-align: text-top;
}
.table_body .table thead tr th:first-child{
	width:21%;
}
.table_body .table thead tr th:last-child{
	width:21%;
}
#myModalA .modal-content .modal-body > p > img{
    height: 22px;
    padding-right: 10px;	
}
#myModalAB .modal-content .modal-footer > button{
	background: #808080 none repeat scroll 0 0;
    color: white;
}


/*------------------- delete campaign----------*/

#delete_campaign #data_table{
	margin: 19px 0;
	border-top: 1px solid #bababa;
}
#delete_campaign  .pull-right .btn-suc{
	padding: 9px 25px;
}
#delete_campaign .display > tbody > tr > td > a > span.edit{
	 background-image: url("../img/edit_icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
#delete_campaign .button_style {
	padding:31px 10px 0 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  /*  padding: 12px; */
}
#delete_campaign .display  > thead > tr > th:first-child {
	width:299px;
	
}
#delete_campaign .display{
	margin-top:20px;
}
#delete_campaign .display  > thead > tr > th{
	border-top:1px solid #BABABA;
	padding:10px 10px;
	
}
 
#delete_campaign .display tbody > tr > td > span.btnDelete{
	padding-left:10px;
	vertical-align:middle;
	border-left:1px solid #C4C4C4;
	
}
#delete_campaign .display tbody > tr > td {
	padding:16px 10px;
}

#delete_campaign .display tbody > tr > td > a span.delete{
	padding: 0 9px;
}
#delete_campaign .display tbody > tr > td > a span.delete > img{
	height: 15px;
}
/* .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #bababa;
   
} */
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    /*border: 1px solid #bababa;*/
    border: 1px solid #bababa;
    border-bottom: 0px;
    border-right: 0px;
}
.table-bordered {
	border:1px solid #bababa !important;
}
.table-bordered > tbody > tr > td:last-child{
	border-right: 1px solid #bababa;	
}
.table-bordered > thead > tr > th:last-child{
	border-right: 1px solid #bababa !important;	
}
.table-bordered > tbody > tr:last-child > td{
	border-bottom: 1px solid #bababa;
}
#data_table_wrapper .dataTables_length select{
	padding: 7px 20px 10px 10px;
}



.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.Campaign-Custom .template .file_upload_wrap input[type="file"] {
    display: inline;
	vertical-align: top;
        height:33px;
}
.Campaign-Custom .template .file_upload_wrap input[type="file"]::-webkit-file-upload-button{
    height:33px;
    }
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.inputBtnSection{
    display:inline-block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
	padding-right:20px;
}
.disableInputField{
    display: inline-block;
    font-size: 14px;
    height: 33px;
    margin: 0;
    padding: 0 3px;
    vertical-align: top;
    width: 266px;
}


.uploadBtn{
    display:inline-block;
    vertical-align:top;
    background:rgba(0,0,0,0.5);
    font-size:14px;
    color:#fff;
	padding: 6px 11px;
	border:1px solid #fff !important;
}

.fileUpload input.upload {
	position: absolute;
	left:70%;
	top: 0;
	right: 0;
	/* margin-top: 26px; */
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width:18%;
}


 fieldset {
      border: 0;
    }
    
    select {
      width: 100%;
    }
    .overflow {
      height: 200px;
    }

	
	
	
	
	
	
	/*-------background arrow icon in add new policy----*/
.ui-selectmenu-button span.ui-selectmenu-text{
	background-image: url("../img/dropdown_arrow.png");
    background-position: 321px 14px;
    background-repeat: no-repeat;
    background-size: 9px 5px;
    cursor: pointer;
	background-color:#FFFFFF;
}

.policy_rate .col-md-2 .ui-selectmenu-button span.ui-selectmenu-text{
    background-position: 135px 14px;
}
.policy_rate .ui-selectmenu-button span.ui-selectmenu-text{
	background-image: url("../img/dropdown_arrow.png");
    background-position: 245px 14px;
}
.policy_term .ui-selectmenu-button span.ui-selectmenu-text{
	background-image: url("../img/dropdown_arrow.png");
    background-position: 77px 14px;
    background-repeat: no-repeat;
    background-size: 9px 5px;
    cursor: pointer;
	background-color:#FFFFFF;
}
.policy_option .ui-selectmenu-button span.ui-selectmenu-text{
    background-position: 208px 14px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0.6em 2.1em 0.4em 1em;
}
.modal-body1 .row .col-md-4 .ui-selectmenu-button{
	max-width: 161px !important;
}
.ui-front{z-index:0 !important; } 
.ui-selectmenu-open {z-index:9999 !important;}

#ui-id-1-button{
	width:100% !important;
}

.user_role fieldset .ui-selectmenu-button .ui-selectmenu-text{
	background-position: 187px 14px;
}
#select_option_wrap-menu li{
	border-bottom:1px solid #F5F5F5;
	padding:8px 0 8px 13px;
	color
}
#ui-id-1-menu li{
	border-bottom:1px solid #F5F5F5;
	padding:8px 0 8px 13px;
}
#ui-id-2-menu li{
	border-bottom:1px solid #F5F5F5;
	padding:8px 0 8px 13px;
}
#select_option_wrap-menu li{
	border-bottom:1px solid #F5F5F5;
	padding:8px 0 8px 13px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #cccccc;
    background: #1687C9;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-selectmenu-button{
	border-radius:4px !important;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
/*#select_option_wrap1-button{
	display:none;
}*/
#select_option_wrap1 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d3d2d2;
   /* display: initial !important;*/
    height:34px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

#select_option_wrap1 .ui-menu-item {
    height: 34px;
	line-height:34px;
	border-bottom:1px solid #F5F5F5;
	padding:20px;
}
.ui-menu .ui-menu-item {
	padding: 8px 0 8px 13px !important;
	 border-bottom: 1px solid #e8e8e8 !important;
}

#select_option_wrap1 option:last-child{
	border-bottom:none !important;
}
.select_option{
	padding:0 !important;
}
#select_option_wrap1{
background-image: url("../img/dropdown_arrow.png");
background-repeat:no-repeat;
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
background-size: 9px auto;
background-position: 320px center;
padding-left: 9px !important;

  margin-left:-1px;
  margin-top:2px;
  max-height: 250px;
    cursor: pointer;
  }



/*.chart_wraper{
display:none;
}*/

#select_option_wrap1 .ui-menu-item:hover {
	cursor:pointer;
}
.ui-state-default .ui-icon {
    background-image: none !important;
}
.ui-menu {
    max-height: 170px ;
}
 span img{
	cursor:pointer !important;
}
.user_details span{
	position:relative;
	word-wrap: break-word;
	word-break: break-all;
}

/*------------------------------category_list-------------------------*/
.category_list_div{
	margin-top: 1%;
}
.category_list{
	background-color: #fff;
	margin-top: 4%;
	overflow: auto;
	height:290px;
}
.category_details{
	border-left:1px solid #E3E2E2;
}
.category_details .nav-tabs{
	border-bottom: 0;
}
#add_category , #view_category , #subCategory{
	background-color: #fff;
	margin-bottom: 2%;
	border: 1.5px solid #e8e8e8 !important;	
}
.category_details > .nav-tabs > li.active > a, .category_details > .nav-tabs > li.active > a:hover, .category_details > .nav-tabs > li.active > a:focus{
	border :0 !important;
	color: #4698C7 !important;	
}
.category_details .nav-tabs > li > a:hover{
	background-color:  #F8F8F8 !important;
	border-color: #F8F8F8 !important;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;  
  border-bottom: 15px solid #e8e8e8;
  margin-left: 40%;
}
.datePicker{
	background-image: url("./img/2016-06-23.png");
    background-position: 214px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
}
@import url("vendor/style.min.css");


div.error{
	color:red !important;
}

.image_wrap1 img{
	margin: 0 auto;
}

.image_wrap1{
	align-items: center;
    border: 1px solid #ddd;
    display: flex;
    /*display: -webkit-inline-flex;
	display: -ms-inline-flexbox; */
    text-align: center;
    vertical-align: text-bottom;
     margin-top:3%; 
}
.jstree-default .jstree-clicked{
	background-color: #fff !important;
	color: #4b9cc9 !important;
	box-shadow : 0 0 0 #999  !important;
}
.icons{
	color: #aaa;
	margin-left:4%;
}
.icons:hover{
	color: #4b9cc9;
	cursor: pointer;
}
.category_details .nav-tabs li{
	cursor:pointer;
}

/* Mapping to Keyword */
.uploadKeywordFile, .uploadedFiles_table{
	padding-left: 1%;
    padding-top: 1%;
}
.mapKeyword{
	padding: 2%; 	
}
.uploadedFiles_table{
	margin-left: 1.3%;
    margin-top: 2%;
}
#uploadCSVFile{
	left: 70%;
    top: 6px;
    width:23%
}
#UploadFile{
	margin-top: 35%;
	
}
.offersDeals #uploadCSVFile{
	left: 74%;
    top: -1px;
    width: 26%;
}
.offersDeals #UploadFile{
	margin-top: 7%;
}
.removeFile{
	cursor: pointer;
	font-size:15px;
}
#sectionC .fileUpload span{
	vertical-align: text-top !important;
	padding: 7.5px 10px !important;
}
#uploadFile2{
	height: 36px;
	margin-top:-1%;	
}
/* Mapping to Keyword [end] */
.partner_info_table .dwldFile{
	color:blue;
}
input[type="checkbox"],input[type="radio"]{
	vertical-align: text-bottom;
	margin-left: 1.5%;
}
.partner_info_table td:last-child{
	width:10%;	
}
.partnerTable td{
	width:9%;
	border:1px solid grey !important;
}
/* Offers and Deals*/
.selectCategoryLink{
	color : #3988FE;
	text-decoration:underline;
	font-size:12px;
	float:right;
}
.selectCategoryLink:hover,.selectCategoryLink:visited,.selectCategoryLink:active,.selectCategoryLink:focus{
	color : #3988FE !important;
	text-decoration:underline;
}
#categoriesModal .modal-body{
	text-align: left;
	height: 300px;
	overflow:auto;
}
.category_list_details{
	overflow:auto;
	height: 300px;
}
.offerDeals input{
	width: 91.7%;
}
.pad20{
    padding:20px 0px;
}
#uploadCSVForm .col-md-3 .error{
	text-align:left;
	font-size:13px;
	padding-top:1%;
} 
.upload_keyword{
	margin: -0.4%;
}
.ui-autocomplete{
	height:100px;
	overflow:auto;
	position:absolute;
	width:300px;
}

#logopartnerlandingurl{
	word-wrap:break-word;	
}
.uploadFile_div{
	padding-left: 0;	
}
.fileUpload span.edit_partner_browse{
	vertical-align: middle;
}
/* #editPartnerImage{
	width: 26% !important;
	left: 74%;
}
#editPartnerIcon{
	width: 26% !important;
	left: 74%;
} */
/*popup Browse btn*/
.bwrsBtnPop{
	width: 26% !important;
	left: 74% !important;
}
/* Browse btn*/
.bwrsBtn{
	width: 24% !important;
	left: 113% !important;
}
.bwrsBtnAddPar {
    width: 94% !important;
    left: 3% !important;
}
#editPartnerImageBtn{
	left: 113%;
	width: 24%;
}

#add_category .checkBoxMargin, #subCategory .checkBoxMargin{
	margin-top: 15%;
}

.checkBoxMargin{
	margin-top: 11% !important;
}

#uploadFile_{/*---- upload button stule---- sathees added for image icon*/
	border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 6px 7px 6px 7px;
	background:#fff;
	width:70%;
}

.logoIconBtn{
	text-align: left;
}

#emailUploadBtn{
	margin-top: -8px;
    left: 1%;
    width: 100%;
}

.table-bordered > thead > tr > th:last-child{
	/* border-right: 1px solid #bababa !important; */	
}
table.dataTable.no-footer {
    border: 0 !important;/*anand010217*/
}

.export-excel-categroy {
    float: right !important;
    margin: 10px 0px;
}
#search {
	 margin-right: 10px;
     padding-right: 14px;
}
#commissionClear {
	 margin-right: 10px;
     padding-right: 14px;
}
.allow_checkbox:checked + label::before {
	content:"" !important;
}

.reports .ui-selectmenu-button span.ui-selectmenu-text{
	background-position: 135px 14px;
}

.margT5{
margin-top: 5px;
}
#editBrandImage{
	left: 278px !important;
	top: 4px !important;
}
.commission_table{
	margin: 0 auto !important;
}

#usActLog th, #usActLog td{
border-right: 1px solid #c5ccd2 !important;
}

#usActLog_wrapper{
padding-bottom: 2em;
}

#usActLog_wrapper .dt-buttons{
margin-right:5px;
margin-left:5px;
}

table.dataTable thead th{
border-right: 1px solid #c5ccd2;
}

table.dataTable thead th:last-child{
border-right:0 ;
}
#business_report_wrapper .dt-buttons{
	display:none !important;
}
.report_table{
	position:relative;
	
}
a#export{
	position:absolute;
	right:10px;
	z-index:5;
}	

#categoriesModal1{
	z-index: 9999;
    width: 35%;
    height: 100%;
    left: 35%;
    top: 10%;
    overflow: hidden;
}

.closeOff{
	float: right;
    background: none;
    border: none;
    height: 30px;
    margin-top: -8px;
    outline: 0;
}

.utmParam{
	margin: 10px 0 !important;
}

.editUtmerror{
	color:#FE0034;
}
.owd{
	width: 100%;
}

.odexp {
	right: 42px !important;
	margin-top: 10px;
}

#edit_utmSourceName-error{
	display:none !important;
}

#categoriesModal1 .modal-dialog{
width: 100%;
margin: 0;
height: auto;
overflow: hidden;
}

#categoriesModal1 .modal-body{
	text-align:left;
	overflow-y: scroll;
     height: 300px;
}

.report_button1{
	float: right;
	margin-right: -40px;
}


#upload_File_ {
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 6px 7px 6px 7px;
    background: #fff;
    width: 70%;
}

.bg_w_button_new{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #1687c9;
    border-radius: 5px;
    color: #256aad !important;
    font-size: 12px !important;
    font-weight: bold;
    padding: 7px 10px;
}

.bg_w_button_new_trac{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #1687c9;
    border-radius: 5px;
    color: #256aad !important;
    font-size: 12px !important;
    font-weight: bold;
    padding: 7px 10px;
    margin-left: 90%;
}

/* .all-default-button, .all-csv-export-button{
	display: flex;
	justify-content: center;
	align-items: center;
} */
.all-csv-export-button{
	display: none;
}

#banner_time{
	height: 20px;
    width: 50px;	
}

#TimeError{
	color: Red; 
	display: none;
}

#TimeEmpty{
	color: Red; 
	display: none;
}

#succesTime{
	color: Green; 
	display: none;
}

#SysError{
	color: Red; 
	display: none;
}

.banner-time {
    margin-top: 15px;
}
